body{
    background-color:  #1b1b32;
   

}
h1{
    text-align: center;
    color: white ;
}
label{
    display: block;
    color: whitesmoke;
    padding-bottom: 7px;
    padding-top: 7px;
    font-size: 1.2rem;
}
form{
   
     /* display: flex;
     align-items: center;
     justify-content: center; */
    margin: 0 auto;
    height: 400px;
    width: 400px;
   
    padding-left: 10px;
    padding-top: 8px;
    background-color: #0a0a23;
    border-radius: 10px;

}
input{
    width: 95%;
    min-height: 1.5em;
}
input[type="submit"]{
    display: block;
    display:block;
    width:75%;
    margin:1em auto;
    font-size: 1.1em;
    
  
}
input[type="submit"]:hover{
  background-color: white;
}