<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="admin.css" />
  </head>
  <body>
    <div class="Admin-functions">
      <h1 id="welcome">Welcome Admin</h1>
     
      <a href="/map-songs">ADD SONGS</a>

      <a href="/map-viewsongs">VIEW SONGS</a>

      <a href="/createplaylist">CREATE PLAYLIST</a>

      <a href="/viewPlaylists">VIEW PLAYLISTS</a>
      <a href="/admin-logout">SIGN OUT</a>
    </div>
    <div class="recently-relesed">
        <h3>Recently-Relesed Albums</h3>
        <h4>Show all</h4>
    </div>
    <div class="new-releases">
        
        <div class="new-movies"><img src="img/Animal.jpg"></div>
        <div class="new-movies"><img src="img/Hanuman.jpg"></div>
        <div class="new-movies"><img src="img/captainmiller.jpg"></div>
        <div class="new-movies"><img src="img/salar.jpg"></div>
      
    </div>
    <div class="upcoming-songs">
      <h3>Upcoming Songs</h3>
      <h4>show all</h4>
    </div>
    <div class="upcoming">
      <div class="upcoming-movies"><img src="img/pushpa2.jpg"></div>
      <div class="upcoming-movies"><img src="img/kalki.jpg"></div>
      <div class="upcoming-movies"><img src="img/Gamechanger.webp"></div>
      <div class="upcoming-movies"><img src="img/Devara.jpg"></div>
    </div>
  </body>
</html>

