<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="container">
      
        
      
      <div class="navbar">
        <a href="/map-register" class="register"> Register</a>
        <a href="/map-login" class="login">Login</a>
      </div>
      <div class="sidenavbar">
        <p>Tune Hub</p>
        <p>Home</p>
        <p>your library</p>
        <p>create your PlayList</p>
      </div>
    </div>

    <div class="popular-artist">
      <h3 class="All-artist">Popular Artists</h3>
      <h4 class="All-artist">Show all</h4>
    </div>

    <div class="artist">
      <div class="artistcontainer">
        <p class="artist-name">Anirudh</p>
        <p class="artist-cate">Artist</p>
        <div class="artist-img"><img src="img/anirudhsinger.jpg" /></div>
      </div>
      <div class="artistcontainer">
        <p class="artist-name">Arjithsingh</p>
        <p class="artist-cate">Artist</p>
        <div class="artist-img"><img src="img/arjithsingh.jpg" /></div>
      </div>
      <div class="artistcontainer">
        <p class="artist-name">M.M keeravani</p>
        <p class="artist-cate">Artist</p>
        <div class="artist-img"><img src="img/M.Mkeeravani.jpg" /></div>
      </div>
      <div class="artistcontainer">
        <p class="artist-name">sidsiram</p>
        <p class="artist-cate">Artist</p>
        <div class="artist-img"><img src="img/sidsriram.jpg" /></div>
      </div>
    </div>
    <footer>
      <div class="foot-panel">
        <ul>
          <div class="foot-panel1">Company</div>
          <h5 id="link">About us</h5>
          <h5 id="link">For the Records</h5>
        </ul>
        <ul>
          <div class="foot-panel1">Communities</div>

          <h5 id="link">For Artists</h5>
          <h5 id="link">podcasts</h5>
        </ul>
        <ul>
          <div class="foot-panel1">Useful links</div>
          <h5 id="link">subscription</h5>
          <h5 id="link">support</h5>
          <h5 id="link">Free mobile App</h5>
        </ul>
      </div>
    </footer>
  </body>
</html>

