<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <form action="/login" method="post">
      <h3>TUNE-HUB</h3>
      <p>sign in to tune-hub and enjoy music</p>
      <div class="login">
        <label>Email</label>
        <input type="email" name="email"  required />
        <label> Password </label>
        <input type="password" name="password"  required />
        
      </div>
      <input type="submit" value="LOGIN"  class="hover-submit"\ />
      <h5>forgot password?</h5>
      <p>Don't have an account <a href="=">register for Tune-hub</a></p>
    </form>
  </body>

</html>
